/* CSS declarations go here */
body {
  background: #FAFAFA;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
  background: #FFFFFF;
}

.float-left {
    float: left;
    display: inline;
}

.float-right {
    float: right;
}

.form-group {
    padding-left: 15px;
    min-width: 250px;
}

.pad-left {
    padding-left: 15px;
}

.padding-top{
    margin-top: 65px;
}

.circle {
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:25px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:#000
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
